body{
    background: #f8f8f4;
    padding-top: 0;
}

@font-face {
    font-family: 'daxline-CL';
    src: url('../fonts/daxlinecyr-light-webfont.eot');
    src: url('../fonts/daxlinecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxlinecyr-light-webfont.woff') format('woff'),
         url('../fonts/daxlinecyr-light-webfont.ttf') format('truetype'),
         url('../fonts/daxlinecyr-light-webfont.svg#daxline-CL') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxline-CT';
    src: url('../fonts/daxline-cl-webfont.eot');
    src: url('../fonts/daxline-cl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxline-cl-webfont.woff') format('woff'),
         url('../fonts/daxline-cl-webfont.ttf') format('truetype'),
         url('../fonts/daxline-cl-webfont.svg#daxline-CL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxline-CBL';
    src: url('../fonts/daxlinecyr-black-webfont.eot');
    src: url('../fonts/daxlinecyr-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxlinecyr-black-webfont.woff') format('woff'),
         url('../fonts/daxlinecyr-black-webfont.ttf') format('truetype'),
         url('../fonts/daxlinecyr-black-webfont.svg#daxline-CBL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxline-CB';
    src: url('../fonts/daxlinecyr-bold-webfont.eot');
    src: url('../fonts/daxlinecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxlinecyr-bold-webfont.woff') format('woff'),
         url('../fonts/daxlinecyr-bold-webfont.ttf') format('truetype'),
         url('../fonts/daxlinecyr-bold-webfont.svg#daxline-CB') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'daxline-CM';
    src: url('../fonts/daxline-cm.eot');
    src: url('../fonts/daxline-cm.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxline-cm.woff') format('woff'),
         url('../fonts/daxline-cm.ttf') format('truetype'),
         url('../fonts/daxline-cm.svg#daxline-CM') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxlineLF-CBL';
    src: url('../fonts/daxlinecyrlf-black-webfont.eot');
    src: url('../fonts/daxlinecyrlf-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxlinecyrlf-black-webfont.woff') format('woff'),
         url('../fonts/daxlinecyrlf-black-webfont.ttf') format('truetype'),
         url('../fonts/daxlinecyrlf-black-webfont.svg#daxlineLF-CBL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'heydings_iconsregular';
    src: url('../fonts/heydings_icons_1-webfont.eot');
    src: url('../fonts/heydings_icons_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heydings_icons_1-webfont.woff') format('woff'),
         url('../fonts/heydings_icons_1-webfont.ttf') format('truetype'),
         url('../fonts/heydings_icons_1-webfont.svg#heydings_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/entypo-webfont.eot');
    src: url('../fonts/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-webfont.woff') format('woff'),
         url('../fonts/entypo-webfont.ttf') format('truetype'),
         url('../fonts/entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.fl{
    float:left;
}

.fr{
    float:right;
}
.flw{
    float:left;
    width:100%;
}

.frw{
    float:right;
    width:100%;
}
.cl {
    clear:both;
}
img {
    vertical-align:top;
    border:0px solid #fff;
}
:focus {
    outline:0px solid #fff;
}
.main-part{
    margin:0px;
    padding:88px 0 0 0;
    width:100%;
}

.wrapper{
    margin:0px auto;
    padding:0 40px;
    width:920px;
    display:table;
}



.logo{
    width:200px;
}

.nav-links{
    float:right;
    margin:0px;
    padding:5px 0px;
}

.nav-links ul{
    float:right;
    margin:0px;
    padding:0px;
}

.nav-links li{
    padding: 0 10px;
    border-left:1px dotted #999;
}

.nav-links li:first-child {
    border-left:0;
}

.header {
    margin-top: 20px;
}

.header div {
    text-align: right;
}


.header .span4 {
    text-align: left;
}

.nav-link a {
    text-decoration:none;
    font-size:16px;
    color:#000;
    font-family: 'daxline-CL';  
    font-weight:normal;
    text-transform:uppercase;

}

.nav-link .user-name {
    font-family:daxlineLF-CBL;
    font-size:16px;
    color:#a9a89c;
    text-transform:none;
}

.nav-link a.logout {
    font-family:daxline-CB;
    text-align:center;
    margin:8px 0 0 10px;
    font-size:12px;
    color:#fff;
    width:59px;
    line-height:18px;
    background: url(../images/logout.png) 0 0 no-repeat;
    display: inline-block;
    padding: 0;
}
.nav-link a.logout:hover {
    background-position:0 100%;
    text-decoration:none;
    color:#666;
}


.banner {
    margin-top: 75px;
}

.intro-text {
    width: 90%;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#747365;
    line-height:20px;
    margin-top: 27px;
}

.horizontal-rule {
    background: #d3ba9b; /* Old browsers */
    background: -moz-linear-gradient(top, #d3ba9b 0%, #d3ba9b 84%, #bfb2a2 85%, #bfb2a2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3ba9b), color-stop(84%,#d3ba9b), color-stop(85%,#bfb2a2), color-stop(100%,#bfb2a2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d3ba9b 0%,#d3ba9b 84%,#bfb2a2 85%,#bfb2a2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d3ba9b 0%,#d3ba9b 84%,#bfb2a2 85%,#bfb2a2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d3ba9b 0%,#d3ba9b 84%,#bfb2a2 85%,#bfb2a2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d3ba9b 0%,#d3ba9b 84%,#bfb2a2 85%,#bfb2a2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3ba9b', endColorstr='#bfb2a2',GradientType=0 ); /* IE6-9 */
    height: 7px;
    width: 100%;
    margin: 20px 0;
}
.spaced-divider {
    margin: 60px 0;
}

.content-section .span3{
    margin-bottom: 25px;
}

.recent-fundraisers {
    margin: 0;
}

.recent-fundraisers li {
    float: left;
    list-style-type: none;
    margin: 0 13px 11px 0;
}

.recent-fundraisers a{
    float:left;
    opacity:0.41;
    filter: alpha(opacity=41);
    margin:0 0 11px 13px;
    width:89px;
    height:89px;
    -ms-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.recent-fundraisers a:hover{
    opacity:1;
    filter: alpha(opacity=100);
}

.fundraiser-header .org-photo{
     -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #808080;
    float: left;
    margin-right: 20px;
    margin-left: 12px;
}

.fundraiser-header {
    background: #f0eee3;
    padding: 10px 0;
}

.fundraiser-header .fundraiser-title {
    font-family:daxline-CBL;
    font-size:35px;
    line-height:30px;
    text-transform:uppercase;
    color:#444;
}

.fundraiser-header .org-location {
    font-family:daxline-CL;
    font-size:16px;
    color:#444;
}


.fundraiser-header-separator {
    margin-bottom: 25px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    height: 20px;
}

.fundraiser-information {
    background-color: #f0eee3;
    padding: 8px 20px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #e4d4be;
    margin-bottom: 20px;
}

.fundraiser-information .title {
    font-family:daxline-CL;
    font-size:16px;
    color:#444;
    font-weight:bold;
}

.fundraiser-information .details {
    font-family:daxline-CL;
    font-size:12px;
    color:#444;
}

.fundraiser-information .details a {
    color: #a7a4a4;
}

.fundraiser-information i {
    margin-right: 10px;
}

.fundraiser-img {
    margin: 0 0 20px 0;
}

.make-a-donation-text {
    font-size:18px;
    font-family:daxline-CL;
    line-height:24px;
    color:#787777;
    padding:0 0 5px 0;
}

.hide-overflow {
  overflow: hidden;
}

.donation-form, .cc-form, .registration-form .control-group,
.fundraiser-form .control-group, .final-rewards-box {
    background-color: #f0eee3;
    padding: 8px;
    margin: 8px;
}

.registration-form .control-group, .fundraiser-form .control-group {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e4d4be;
}

.donation-form-wrapper, .registration-form, .fundraiser-form {
    background-color: #fff;
    border: 1px solid #e4d4be;
    position: relative;
}
.donation-form label, .registration-form label, .fundraiser-form label {
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
}

.donation-form .hint, .registration-form .hint, .fundraiser-form .hint {
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
}


.registration-form .checkbox{
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    padding-left: 8px;
    padding-right: 20px;
    display: inline-block;
    width: 90%;
}


.registration-form-checkbox {
    padding: 5px 20px;
}

#div_id_agree_to_wepay .controls, #div_id_agree_to_crowdvance .controls {
    margin-left: 10px;
}

.donation-benefits {
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    color:#444444;
    margin-bottom: 30px;
}



.benefits-icon {
    background:url(../images/reward-icons.png);
    background-repeat:no-repeat;
}

.rewards-icon {
    background-position: 0px -174px;
}

.unique-icon {
    background-position: 0px -110px;
}

.envelope-icon {
    background-position: 0px -137px;
}

.gear-icon {
    background-position: 0px -72px;
}

.zero-icon {
    background-position: 0px -39px;
}

.calculator-icon {
    background-position: 0px 0px;
}

.donation-benefits li {
    line-height: 36px;
    padding-left: 40px;
}

.benefits-link {
    line-height: 15px !important;
}

.donation-benefits i {
    font-size:20px;
}

.wepay-benefits {
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    color:#444444;
}

.wepay-benefits li {
    line-height: 16px;
}


.wepay-push-right {
    margin-left: 5px;
}

.donation-form .input-prepend .add-on,
.fundraiser-form .input-prepend .add-on {
    margin-right: -5px;
    margin-top: 1px;
    font-family:daxline-CL;
    background-color: #e4d4be;
    max-width:20px;
}

.input-small {
    max-width: 50%;
}

#wepay_checkout_iframe {
    width: 500px !important;
    height: 510px !important;
}

#sticky-fundraiser-header {
    z-index: 100;
}

.donation-note {
    width: 80%;
    min-height: 100px;
    border: 1px solid #e4d4be;
}


.form-section-title {
    color: #434343; /* text color */
    font-family:daxline-CB;
    font-size: 16px;
}


.cc-form select, .cc-form input {
    width: 100%;
}

.expiration-slash {
    font-weight:bold;
    font-size:20px;
    text-align:center;
}

.donation-amount {
    font-family: daxline-CB;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
}

.registration-form input[type=checkbox], .donation-form input[type=checkbox] {
    vertical-align: top;
    margin-right: 15px;
    width: auto;
}



.make-a-donation-button {
    padding:0px 0 0px 10px;
    margin:0px;
    border:0px solid #fff;
    background: url(../images/next-step-but-wide.png) 0% 0% no-repeat;
    min-width:268px;
    color:#444444;
    height:50px;
    text-transform:uppercase;
    font-family:daxline-CBL;
    text-align:left;
    font-size:25px;
    cursor:pointer;
    float: right;
    margin-top: 10px;
}

.select-rewards-button {
    padding:0px 0 0px 10px;
    margin:0px;
    border:0px solid #fff;
    background: url(../images/next-step-but-wide.png) 0% 0% no-repeat;
    min-width:268px;
    color:#444444;
    height:50px;
    text-transform:uppercase;
    font-family:daxline-CBL;
    text-align:left;
    font-size:25px;
    cursor:pointer;
    float: right;
}

.make-a-donation-button:hover {
    background-position:0% 100%;
}


.make-a-donation-button-text{
    
    color: #222;
    height: 50px;
    text-transform: uppercase;
    font-family: daxline-CBL;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    padding:10px;
    position: relative;
    top: 10px;
}
.make-a-donation-button-text:hover{
    color:#444;
    text-decoration: none !important;
}

.fundraiser-dashboard {
    background-color: #f0eee3;
    text-align: center;
    margin-bottom: 30px;
    padding: 55px 25px;
    position: relative;
}

.fundraiser-dashboard-name {
    background-color: #f0eee3;
    font-family:daxline-CB;
    font-size:16px;
    padding: 8px;
}

.fundraiser-dashboard h2 {
    font-family:daxline-CB;
    font-size:26px;
}

.fundraiser-dashboard h1 {
    font-family:daxline-CB;
    font-size:60px;
    line-height: 84px;
}

.fundraiser-dashboard h3 {
    font-family:daxline-CB;
    font-size:14px;
}

.fundraiser-dashboard a {
    font-family:daxline-CB;
    font-size:14px;
    text-align: left;
}

.amount-raised {
    display: inline-block;
}

.left-align {
    text-align: left;
    display: block;
    line-height: 16px;
}

.green {
    color: #008200;
}

.account-links {
    text-decoration: none;
    font-family: 'daxline-CL';
    font-weight: normal;
    margin-bottom: 25px;
    margin-left: -20px;
    float: left;
}

.account-links a {
    color: black;
    display: block;
    font-size: 18px;
}

.nice-title {
    font-family:daxline-CB;
    font-size:14pt;
    line-height: 28px;
}

.account-balance {
    font-size: 12pt;
}

.full-width {
    width: 100%;
}

.crowdvance-button {
    color: #444; /* text color + gradient overlay */
    font-family: daxline-CBL;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    min-height: 25px;
    padding: 3px 10px;
    margin: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #ffe13f; /* layer fill content */
    -moz-box-shadow: inset 0 1px 4px #99801d; /* inner shadow */
    -webkit-box-shadow: inset 0 1px 4px #99801d; /* inner shadow */
    box-shadow: inset 0 1px 4px #99801d; /* inner shadow */
    background: #ffe960; /* Old browsers */
    background: -moz-linear-gradient(top, #ffe960 0%, #ffe240 50%, #ffdc42 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe960), color-stop(50%,#ffe240), color-stop(100%,#ffdc42)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffe960 0%,#ffe240 50%,#ffdc42 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffe960 0%,#ffe240 50%,#ffdc42 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffe960 0%,#ffe240 50%,#ffdc42 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffe960 0%,#ffe240 50%,#ffdc42 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe960', endColorstr='#ffdc42',GradientType=0 ); /* IE6-9 */
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

.large-button {
    min-height: 40px;
}
.larger-button {
    font-size: 26px;
    line-height: 48px;
    height: 48px;
}

.wider-button {
    min-width: 24%;
}

.smaller-button {
    height: 25px;
    line-height:25px;
    font-size: 16px;
    margin: 5px 0;
}

.crowdvance-button:after{
    content: url('../images/right-arrow.png');
    float: right;
    padding: 0 10px;
}

.without-icon:after{
    content: "";
    padding: 0;
}

.crowdvance-button:hover {
    text-decoration: none;
    color: #333;
    -moz-box-shadow: inset 0 1px 4px #6d633d; /* inner shadow */
    -webkit-box-shadow: inset 0 1px 4px #6d633d; /* inner shadow */
    box-shadow: inset 0 1px 4px #6d633d; /* inner shadow */
    text-shadow: 0 1px 0 rgba(200,200,200,.57); /* drop shadow */
    background: #d9c5a8; /* Old browsers */
    background: -moz-linear-gradient(top, #d9c5a8 0%, #c5a983 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9c5a8), color-stop(100%,#c5a983)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d9c5a8 0%,#c5a983 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d9c5a8 0%,#c5a983 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d9c5a8 0%,#c5a983 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d9c5a8 0%,#c5a983 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9c5a8', endColorstr='#c5a983',GradientType=0 ); /* IE6-9 */
}

.edit-buttons {
    margin-top:20px;
}


.nav-links ul li a span {
    font-family:daxlineLF-CBL;
    font-size:16px;
    color:#a9a89c;
    float:left;
    text-transform:none;
}
.nav-links ul li a.logout {
    font-family:daxline-CB;
    float:left;
    text-align:center;
    margin:0 0 0 10px;
    font-size:12px;
    color:#fff;
    width:59px;
    line-height:18px;
    background:url(../images/logout.png) 0% 0% no-repeat;
}
.nav-links ul li a.logout:hover {
    background-position:0% 100%;
    text-decoration:none;
    color:#666;
}
.nav-links ul li a:hover, .nav-links ul li a.active, .nav-links ul li a span:hover{
    text-decoration:underline;
}
.nav-links ul li:first-child{
    margin-left:0px;
    padding-left:0px;
    /*background:none;*/
    border-left:0px dotted #666;
}

.dropdown-menu li {
    border: 0;
    padding: 0;
}

.dropdown-menu a {
    text-transform:none;
}

.banner-section {
    padding:40px 0 0 0;
    background:url(../images/banner-img.jpg) 100% 75px no-repeat;
    min-height:457px;
}
.banner-left {
    width:600px;
}
.title-h1 { /* H1 */
    font-family:daxline-CM;
    text-transform:uppercase;
    font-size:60px;
    line-height:56px;
    color:#fff;
}
.title-h1 p {
    margin: 0 0 1px;
}
.title-h1 .background {
    padding:0 10px 2px 5px;
    margin:0 0 1px 0;
    background:#434343;
    display: inline-block;
}
.title-h1 .highlight{
    float:none;
    padding:0px;
    margin:0px;
    color:#ffe23f;
}
.text1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#747365;
    line-height:20px;
}
.start-but {
    width:363px;
    height:140px;
    margin:25px 0 0 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    text-transform:uppercase;
    color:#747365;
    line-height:19px;
    position:relative;
}
.start-but a{
    padding:28px 0 45px 20px;
    display:block;
    background:url(../images/start-button.png) 0% 0% no-repeat;
    color:#434343;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-family:daxline-CBL;
    text-transform:uppercase;
    font-size:14px;
    line-height:15px;
    position:relative;
    z-index:2;
}
.start-but a span {
    font-size:60px;
    line-height:51px;
}
.start-but .small-txt {
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
}

.boxs1 {
    width:240px;
}
.boxs1.biger {
    width:245px;
}
.boxs1.biger .text2 {
    max-width:100%;
}
.boxs1.smaller {
    width:155px;
    float:right;
}
.title-h2 { /* H2 */
    font-family:daxline-CBL;
    font-size:20px;
    color:#444444;
    line-height:20px;
    text-transform:uppercase;
    min-height:53px;
    padding:5px 0 0 0;
}
.text2 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:20px;
    color:#747365;
}
.more-a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:9px;
    line-height:11px;
    color:#bb935a;
    text-transform:uppercase;
    text-decoration:none;
    border-bottom:1px solid #bb935a;
    position:relative;
    margin:8px 0 0 0;
    padding:0 10px 0 0;
    background:url(../images/more-arrow-a.png) 100% 3px no-repeat;
}
.more-a:hover {
    color:#444;
    border-bottom:1px solid #444;
}
/*a.more-a:before {
    content: url("../images/more-arrow-a.png");
    right: -9px;
    position: absolute;
    top: 3px;
}*/

.footer-section {
    width:100%;
    float:left;
    position:relative;
    padding:65px 0 65px 0;
}
.footer-lines {
    border-bottom:1px solid #d3bb99;
    border-top:1px solid #d3bb99;
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:2px;
}

.title-h3 { /* H3 */
    font-family:daxline-CB;
    font-size:14px;
    color:#444444;
    line-height:20px;
    text-transform:uppercase;
    min-height:29px;
    padding:0px 0 0 0;
}
.footer-box {
    width:120px;
}
.footer-box.biger {
    width:125px;
}
.footer-box.bigest {
    width:400px;
    float:right
}
.footer-links {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:20px;
    text-decoration:none;
    color:#9c9b8f;
}
.footer-links.imglogo{
    font-size:0px;
    line-height:1px;
}
.footer-links.imglogo img{
    margin:5px 7px;
    float:left;
}
.footer-links.imglogo a:first-child img{
    margin-left:0px;
}
.footer-links.imglogo .center-logo{
    clear:both;
    padding:0 0 0 20px;
}
.footer-links.imglogo .center-logo a:first-child img{
    margin-left:20px;
}
.footer-links.imglogo .center-logo img{
    margin:5px 16px;
}
.footer-links ul{
    padding:0px;
    margin:0px;
    list-style:none;
}
.footer-links ul li {
    padding:0px;
    margin:0px;
}
.footer-links ul li a{
    display:block;
    text-decoration:none;
    color:#9c9b8f;
}
.footer-links ul li a.underline{
    text-decoration:underline;
}
.footer-links ul li a:hover{
    color:#a1855d;
    text-decoration:underline;
}
div.copyright {
    padding:23px 0 0 0;
    float:left;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#9c9b8f;
}
div.copyright a {
    text-decoration:none;
    color:#9c9b8f;
}
div.copyright a:hover{
    color:#a1855d;
    text-decoration:underline;
}
.breadcrumb-menu {
    padding:55px 0 15px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    line-height:21px;
    color:#9c9b8f;
}
.breadcrumb-menu a {
    text-decoration:none;
    color:#9c9b8f;
}
.breadcrumb-menu a:hover {
    color:#A1855D;
    text-decoration:underline;
}
.breadcrumb-menu span {
    padding:0 5px;
}
.title-h4 {
    font-family:daxline-CBL;
    font-size:35px;
    line-height:30px;
    text-transform:uppercase;
    color:#444;
    padding:3px 0 21px 0;
}
.title-h4 span {
    color:#c8af8c;
}
.title-h4-LF {
    font-family:daxlineLF-CBL;
    font-size:30px;
    line-height:30px;
    text-transform:uppercase;
    color:#444;
    padding:3px 0 21px 0;
}
.title-h4-LF a{
    font-style:normal;
    color:#d3bb99;
    float:left;
    text-decoration:none;
}
.title-h4-LF a.active{
    font-style:normal;
    float:left;
    color:#444;
    background:url(../images/step-underline.png) 0% 100% no-repeat;
    padding:0 0 5px 0;
}
.title-h4-LF span{
    background:url(../images/step-arrow.png) 0% 0% no-repeat;
    width:40px;
    height:5px;
    float:left;
    font-size:1px;
    line-height:1px;
    margin:12px 17px;
}
.content {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#747365;
    line-height:20px;
    padding:0 0 35px 0;
}
.content p{
    padding:0px 0px 19px 0px;
    margin:0px;
    line-height:20px;
}
/*.title-h5 {
    font-family:daxline-CL;
    font-size:25px;
    line-height:30px;
    color:#444;
    padding:0px 0 25px 0;
}
.special-blocks {
    margin:25px 0 0 0;
    padding:20px 0 16px 0;
    background:url(../images/special-blocks-r.png) 0% 100% no-repeat;
}
.special-blocks.left {
    background:url(../images/special-blocks-l.png) 0% 100% no-repeat;
}
.special-blocks p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#747365;
    line-height:25px;
    padding:0px 0px 19px 0px;
    margin:0px;
}
.special-blocks .blocks-content {
    float:left;
    width:480px;
}
.special-blocks .blocks-image {
    float:right;
    width:440px;
    text-align:right;
}
.special-blocks.left .blocks-content {
    float:right;
    width:480px;
}
.special-blocks.left .blocks-image {
    float:left;
    width:440px;
    text-align:left;
}
.SBi-pad1 {
    padding:5px 0 0 0;
}
.SBi-pad2 {
    padding:45px 0 0 0;
}
.SBi-pad4 {
    padding:30px 0 0 0;
}
.blocks-image.SBi-pad3 {
    padding:0px 0px 0 0;
    text-align:center;
}
.SB-pad1 {
    padding-top:20px;
}
.rounded-list {
    padding:10px 0 0 0px;
    margin:0px;
    list-style:none;
    font-size:16px;
}
.rounded-list li {
    padding:0px;
    margin:0px 0 10px 20px;
    color:#747365;
    position:relative;
}
.rounded-list li span {
    color:#fff;
    font-size:11px;
    width:15px;
    height:15px;
    left:-20px;
    top:3px;
    line-height:15px;
    text-align:center;
    font-weight:bold;
    position:absolute;
    background:url(../images/rounded-list.png) 0px 0px no-repeat;
}*/
.title-h5 {
    font-family:daxline-CL;
    font-size:30px;
    line-height:30px;
    color:#444;
    padding:0px 0 25px 0;
}
.special-blocks {
    margin:25px 0 0 0;
    padding:20px 0 16px 0;
    background:url(../images/special-blocks-r.png) 0% 100% no-repeat;
}
.special-blocks-left {
    margin:25px 0 0 0;
    padding:20px 0 16px 0;
    
    background:url(../images/special-blocks-l.png) 0% 100% no-repeat;
}
.special-blocks-left p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#747365;
    line-height:25px;
    padding:0px 0px 19px 0px;
    margin:0px;
}
.special-blocks p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#747365;
    line-height:25px;
    padding:0px 0px 19px 0px;
    margin:0px;
}
.special-blocks .blocks-content {
    float:left;
    width:480px;
}
.special-blocks .blocks-image {
    float:right;
    width:440px;
    text-align:right;
}
.special-blocks-left .blocks-content {
    float:right;
    width:480px;
}
.special-blocks-left .blocks-image {
    float:left;
    width:440px;
    text-align:left;
}
.rounded-list {
    padding:10px 0 0 0px;
    margin:0px;
    list-style:none;
    font-size:16px;
}
.rounded-list li {
    padding:0px;
    margin:0px 0 10px 20px;
    color:#747365;
    position:relative;
}
.rounded-list li span {
    color:#fff;
    font-size:11px;
    width:15px;
    height:15px;
    left:-20px;
    top:3px;
    line-height:15px;
    text-align:center;
    font-weight:bold;
    position:absolute;
    background:url(../images/rounded-list.png) 0px 0px no-repeat;
}
.SBi-mar1 {
    margin:-65px 0 -15px 0;
}

.main-master {
    position:relative;
    background:#fff;
}
.master-line {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
.main-master .mas-tl {
    background:url(../images/main-master-tl.png) 0% 0% no-repeat;
}
.main-master .mas-tr {
    background:url(../images/main-master-tr.png) 0% 0% no-repeat;
}
.main-master .mas-bl {
    background:url(../images/main-master-bl.png) 0% 0% no-repeat;
}
.main-master .mas-br {
    background:url(../images/main-master-br.png) 0% 0% no-repeat;
}
.mas-tl {
    position:absolute;
    top:0;
    left:0;
    width:5px;
    height:5px;
}
.mas-tr {
    position:absolute;
    top:0;
    right:0;
    width:5px;
    height:5px;
}
.mas-bl {
    position:absolute;
    bottom:0;
    left:0;
    width:5px;
    height:5px;
}
.mas-br {
    position:absolute;
    bottom:0;
    right:0;
    width:5px;
    height:5px;
}
.mas-bgt {
    position:absolute;
    top:0;
    right:5px;
    left:5px;
    background-image:url(../images/main-master-bgline.png);
    background-position:0% 0%;
    background-repeat:repeat-x;
    background-color:#fff;
    height:5px;
}
.mas-bgr {
    position:absolute;
    top:5px;
    right:0;
    bottom:5px;
    background-image:url(../images/main-master-bgline.png);
    background-position:100% 0%;
    background-repeat:repeat-y;
    background-color:#fff;
    width:5px;
}
.mas-bgb {
    position:absolute;
    bottom:0;
    right:5px;
    left:5px;
    background-image:url(../images/main-master-bgline.png);
    background-position:0% 100%;
    background-repeat:repeat-x;
    background-color:#fff;
    height:5px;
}
.mas-bgl {
    position:absolute;
    top:5px;
    left:0;
    bottom:5px;
    background-image:url(../images/main-master-bgline.png);
    background-position:0% 0%;
    background-repeat:repeat-y;
    background-color:#fff;
    width:5px;
}

.master-content {
    position:relative;
    z-index:100;
    padding:20px 23px 20px 23px;
}
.set-width440px {
    width:440px;
    float:left;
    margin:0 25px 0 0;
}
.set-width492px {
    width:492px;
    float:left;
    margin:0 25px 0 0;
}
.set-width446px {
    width:446px;
    float:left;
    margin:0 25px 0 0;
}
.row-fix {
    margin:10px 0 0 0;
}
div[class="row-fix curved-bg-contact"]:first-child {
    margin:0 0 0px 0;
}
div[class="row-fix curved-bg-accountInfo"]:first-child {
    margin:0 0 0px 0;
}
.radius-bor {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.curved1 { 
    background:url(../images/curved-bg1.png) 0% 0% no-repeat;
    min-height:70px;
}
.curved-bg-contact { 
    background:url(../images/curved-bg-contact.png) 0% 0% no-repeat;
    min-height:50px;
}
.curved-bg-accountInfo { 
    background:url(../images/curved-bg-accountInfo.png) 0% 0% no-repeat;
    min-height:50px;
}
.input-sty1 {
    background:url(../images/input-bg1.png) 0% 0% no-repeat;
    padding:0 0 0 5px;
    display:block;
}
.input-sty1 input[type=text], .input-sty1 input[type=password]{
    background:url(../images/input-bg1.png) 100% 0% no-repeat;
    padding:0 0 0 0;
    margin:0px;
    width:100%;
    height:35px;
    line-height:35px;
    border:0px solid #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#444444;
    line-height:35px;
    vertical-align:top;
}
.input-sty1 input[type=text].error{
    color:#f00
}
.title-faq {
    font-family:daxline-CL;
    font-size:25px;
    line-height:30px;
    color:#444;
    padding:0px 0 0px 0;
}
.faq-blocks {
    border-top:1px dotted #d1d0cc;
    padding:15px 0 0 0;
}
div[class=faq-blocks]:first-child {
    border-top:0px dotted #d1d0cc;
    padding:0px;
}
.faq-blocks p {
    font-size:12px;
    line-height:20px;
    color:#747365;
    text-align:justify;
    padding-bottom:15px;
}
.content p a {
    color:#4b4a3e;
    text-decoration:none;
}
.content p a:hover {
    text-decoration:underline;
}
.last-note {
    padding:10px 0 0 0;
}
.last-note p {
    font-size:11px;
    color:#9c9b8f;
}
.last-note p a {
    color:#686867;
    text-decoration:underline;
}
.td-fix-lable label{
    font-size:14px;
    color:#4a4a44;
}
.td-fix-lable label span{
    font-size:11px;
    color:#9c9b8f;
    display:block;
    line-height:13px;
    margin:-20px 0 0 0;
}
.curved-bg-contact .td-fix-lable{
    width:180px;
    padding:0 0 0 15px;
}
.curved-bg-contact .td-fix-input{
    width:240px;
    padding:8px 0 0 0px;
}
.curved-bg-contact .td-fix-lable label{
    line-height:50px;
    display:block;
    cursor:pointer;
}
.content-info {
    width:350px;
    padding:15px 0 0 0;
}
.content-info .title-h5{
    padding:0 0 15px 0;
    margin:10px 0 0 0;
}

.submit-but {
    padding:0px 0 0px 10px;
    margin:0px;
    border:0px solid #fff;
    background:url(../images/submit-but.png) 0% 0% no-repeat;
    width:138px;
    color:#444444;
    height:50px;
    text-transform:uppercase;
    font-family:daxline-CBL;
    text-align:left;
    font-size:25px;
    cursor:pointer;
}
.submit-but:hover {
    background-position:0% 100%;
}
.update-but {
    padding:0px 0 3px 0;
    margin:0px;
    border:0px solid #fff;
    background:url(../images/update-but.png) 0% 0% no-repeat;
    width:133px;
    height:50px;
    cursor:pointer;
}
.update-but:hover {
    background-position:0% 100%;
}
.pad01 {
    padding:20px 0 0 0;
}
.pad02 {
    padding:0px 0 0 20px;
}
.curved-bg-contact.forgot {
    width:400px;
    background:url(../images/curved-bg-forgot.png) 0% 0% no-repeat;
    float:left;
}
.curved-bg-contact.forgot .td-fix-lable{
    width:130px;
    padding:0 0 0 20px; 
}
.curved-bg-contact.forgot .td-fix-input{
    width:240px;
}

.row-fix input[type=radio] {
    padding:0px;
    height:13px;
    width:13px;
    margin:-3px 3px 0 3px;
    vertical-align:middle;
}
/* AccountInfo Form class
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.curved-bg-accountInfo .td-fix-lable{
    width:160px;
    padding:0 0 0 15px;
}
.curved-bg-accountInfo .td-fix-input{
    width:220px;
    padding:8px 0 0 0px;
}
.curved-bg-accountInfo .td-fix-lable label{
    line-height:50px;
    display:block;
    cursor:pointer;
}
.curved-bg-accountInfo .td-fix-input.fix-88px {
    width:88px;
}
.curved-bg-accountInfo .td-fix-lable.fix-290px {
    width:290px;
}
.curved-bg-accountInfo .td-fix-lable label {
    display:inline;
}

.accountinfo {
    width:448px;
}
.accountinfo .title-h5{
    padding:0 0 15px 0;
    margin:10px 0 0 0;
}
/* AccountInfo Form class END
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.img-pad1 {
    margin:20px 0 0 20px;
}

/* Thank You page
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.set-width559px {
    width:559px;
    float:left;
    margin:0 16px 0 0;
}
.set-width345px {
    width:345px;
    float:left;
}
.email-me {
    width:298px;
    height:29px;
    font-family:daxline-CBL;
    margin:0 0 10px 0;
    text-transform:uppercase;
    font-size:16px;
    display:block;
    background:url(../images/email-me-but.png) 0% 0% no-repeat;
    border:0px solid #fff;
    text-align:left;
    cursor:pointer;
    color:#444;
}
.email-me:hover {
    background-position:0% 100%;
}
.print-discounts {
    width:298px;
    height:29px;
    font-family:daxline-CBL;
    margin:0 0 10px 0;
    text-transform:uppercase;
    font-size:16px;
    display:block;
    background:url(../images/print-discounts-but.png) 0% 0% no-repeat;
    border:0px solid #fff;
    text-align:left;
    cursor:pointer;
    color:#444;
}
.print-discounts:hover {
    background-position:0% 100%;
}
/* Thank You page END
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.thankyou-banners {
    border:1px solid #c7c7c7;
    margin:2px 0 10px 0;
    width:488px;
    padding:10px;
    position:relative;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
}

.thankyou-banners-thumb{
    float:left;
    width:130px;
}
.thankyou-banners-per
{
    float:left;
    width:70px;
    padding:20px 0 0 10px;
    font-size:20px;
    color:#CC3;
    font-weight:bold;
}
.thankyou-banners-per span
{
    font-size:16px;
}
.thankyou-banners-right
{
    float:right;
    width:278px;
}
.thankyou-banners-right-title
{
    float:left;
    width:278px;
    font-size:18px;
    color:#AAAAAA;
    padding-bottom:10px;
}
.thankyou-banners-right-code
{
    float:left;
    width:278px;
    font-size:22px;
    color:#000;
    padding-bottom:5px;
}
.thankyou-banners-right-code span
{
    color:#666;
}
.thankyou-banners-right-restriction
{
    float:left;
    width:278px;
    font-size:16px;
    color:#7A7A7A;
    padding-bottom:5px;
}
.thankyou-banners-right-restriction span
{
    font-size:13px;
    color:#8C8C8C;
}
.thankyou-banners img{
    max-width:100%;
    border:1px solid #c7c7c7;
    max-height:100%;
}

.curved-bg-contact.textarea {
    background:url(../images/curved-bg-textarea.png) 0% 0% no-repeat;
    min-height:120px;
}
.curved-bg-contact.textarea .td-fix-input {
    width:240px;
    height:102px;
    background:url(../images/textarea-bg1.png) 0% 8px no-repeat;
}
.curved-bg-contact.textarea textarea {
    width:235px;
    height:102px;
    padding:0 0 0 5px;
    margin:0px;
    border:0px solid #fff;
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#444444;
    overflow:auto;
    background:none;
}



/* Registration page
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.curved-bg-registration {
    background:url(../images/curved-bg2.png) 0% 0% no-repeat;
    min-height:50px;
}
.curved-bg-registration.b70px {
    background:url(../images/curved-bg1.png) 0% 0% no-repeat;
    min-height:70px;
    margin:0px;
}
.curved-bg-registration .td-fix-lable{
    width:138px;
    padding:0 0 0 8px;
}
.curved-bg-registration .td-fix-input{
    width:240px;
    padding:8px 0 0 0px;
}
.curved-bg-registration .td-fix-lable label{
    line-height:50px;
    display:block;
    cursor:pointer;
}
.note-box {
    clear:both;
    color: #9C9B8F;
    display: block;
    font-size: 11px;
    line-height: 13px;
    margin: 0px 0 0 10px;
    font-style:italic;
}
.agree-to {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#9c9b8f;
}
.row-fix a {
    color:#444;
}
.row-fix input[type=checkbox] {
    height:13px;
    width:13px;
    margin:-1px 5px 0 0;
    position:relative;
    vertical-align:middle;
    padding:0px;
}
.content-info.registration {
    width:460px;
    margin:0 0 0 -5px;
}
.next-step {
    padding:0px 0 0px 10px;
    margin:0px;
    border:0px solid #fff;
    background:url(../images/next-step-but.png) 0% 0% no-repeat;
    min-width:161px;
    color:#444444;
    height:50px;
    text-transform:uppercase;
    font-family:daxline-CBL;
    text-align:left;
    font-size:25px;
    cursor:pointer;
}
.next-step:hover {
    background-position:0% 100%;
}

/* Step 2
 - - - - - - - - - - -*/
.set-width600px {
    width:600px;
    float:left;
    margin:0 25px 0 0;
}
.set-width600px .master-content {
    padding:20px 20px;
}
.curved-bg-registration2 {
    background:url(../images/curved-bg3.png) 0% 0% no-repeat;
    min-height:50px;
}
.curved-bg-registration2 .td-fix-lable{
    width:302px;
    padding:0 0 0 10px;
}
.curved-bg-registration2 .td-fix-input{
    width:240px;
    padding:8px 0 0 0px;
}
.curved-bg-registration2.rowspan .td-fix-lable{
    width:50px;
    padding:0 0 0 10px;
}
.curved-bg-registration2.rowspan .td-fix-input.small-i{
    width:175px;
    margin:0 16px 0 0;
}
.curved-bg-registration2 .td-fix-lable label{
    line-height:50px;
    display:block;
    cursor:pointer;
}
div[class="row-fix curved-bg-registration2"]:first-child {
    margin:0 0 0px 0;
}
.curved-bg-registration2.textarea {
    background:url(../images/curved-bg-textarea2.png) 0% 0% no-repeat;
    min-height:120px;
}
.curved-bg-registration2.textarea .td-fix-input {
    width:240px;
    height:102px;
    background:url(../images/textarea-bg1.png) 0% 8px no-repeat;
}
.curved-bg-registration2.textarea textarea {
    width:235px;
    height:102px;
    padding:0 0 0 5px;
    margin:0px;
    border:0px solid #fff;
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#444444;
    overflow:auto;
    background:none;
}
/* Added For Reason textarea */
.curved-bg-registration2.textarea_reason {
    background:url(../images/curved-bg-textarea_n2.png) 0% 0% no-repeat;
    min-height:134px;
}
.curved-bg-registration2.textarea_reason .td-fix-input {
    width:240px;
    height:102px;
    background:url(../images/textarea-bg1.png) 0% 8px no-repeat;
}
.curved-bg-registration2.textarea_reason textarea {
    width:235px;
    height:102px;
    padding:0 0 0 5px;
    margin:0px;
    border:0px solid #fff;
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#444444;
    overflow:auto;
    background:none;
}
/* Added For Reason textarea */
.content-info.registration2 {
    width:295px;
    margin:0 0 0 -5px;
}

/* Step 3
 - - - - - - - - - - -*/
.set-width610px {
    width:610px;
    float:left;
    margin:0 25px 0 0;
    position:relative;
}
.set-width610px .pad01{
    position:absolute;
    bottom:15px;
    right:-190px;
}
.set-width620px .master-content {
    padding:20px 20px;
}

.discounts-box {
    width:285px; 
    border-right:1px dotted #9c9b8f;
    float:left;
}
.discounts-box.selected {
    border-right:0px solid #fff;
    margin:0 -25px 0 15px;
}

.fix-box {
    width:258px;
    min-height:67px;
    margin:0 0 10px 0;
    padding:3px 0 0 0;
    background:url(../images/curved-bg-small.png) 0% 0% no-repeat;
}
.fix-box-bg-re {
    background:url(../images/curved-bg-small-re.png) 0% 100% no-repeat;
}
.discounts-title {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:16px;
    color:#444;
    line-height:21px;
    padding:3px 0 0 7px;
}
.discounts-title input[type="checkbox"]{
    margin:-2px 5px 0 0;
    padding:0px;
    position:relative;
    height:13px;
    width:13px;
    vertical-align:middle;
}
.fix-box p {
    padding:0 0 4px 25px;
    line-height:20px;
    color:#747365;
}
.add-selected {
    width:107px;
    height:19px;
    background:url(../images/add-selected-but.png) 0% 0% no-repeat;
    padding:0 0 0 0;
    margin:0px;
    text-align:center;
    vertical-align:middle;
    font-family:daxline-CBL;
    font-size:12px;
    color:#444;
    border:0px solid #fff;
    cursor:pointer;
    line-height:19px;
    text-transform:uppercase;
}
.add-selected:hover {
    background-position:0% 100%;
}
.remove-selected {
    width:124px;
    height:19px;
    background:url(../images/remove-selected-but.png) 0% 0% no-repeat;
    padding:0 0 0 0;
    margin:0px;
    text-align:center;
    vertical-align:middle;
    font-family:daxline-CBL;
    font-size:12px;
    color:#444;
    border:0px solid #fff;
    cursor:pointer;
    line-height:19px;
    text-transform:uppercase;
}
.remove-selected:hover {
    background-position:0% 100%;
}
.pad03 {
    padding:10px 0 0 0;
}
.fix-with-scroll {
    width:280px;
    height:325px;
    overflow:auto;
    overflow-x:hidden;
}
.content-info.registration3 {
    width:290px;
    margin:0 0 0 -5px;
}
/* Registration page END
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.title-h6 {
    font-family:daxline-CL;
    font-size:20px;
    line-height:30px;
    color:#444;
    padding:0px 0 5px 0;
}

.title-h6 h3 {
    font-size: 20px;
}

/* Registration complete page END
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.user-img-box {
    padding:0 15px 0 0;
}
.user-img-box a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#747365;
    line-height:16px;
}
.user-img-box a:hover{
    color:#A1855D;
}
.make-a-donation {
    margin:0 0 0 -15px;
}
.fix-box-50per {
    width:50%;
    float:left;
}
.curved-bg-last {
    width:428px;
    position:relative;
    min-height:90px;
    margin:5px 8px 5px 8px;
    float:left;
    background:url(../images/curved-bg-last.png) 0% 0% no-repeat;
}

.master-content.listing {
    padding:15px 15px;
}
.partner-image {
    padding:7px 8px;
}
.partner-description {
    font-family:daxline-CL;
    font-size:12px;
    line-height:20px;
    color:#747365;
    padding:7px 0 0 0;
    float:left;
    width:310px;
}

.partner-chosen {
    font-size: 2em;
    line-height: 2em;
    vertical-align: bottom;
    float: right;
}

.check-icon {
    float:right;
    font-size: 1.3em;
    margin-right: 5px;
}

.fix-img-content span{
    display:block;
    font-weight:bold;
    font-size:16px;
    color:#444;
}
.more-but {
    position:absolute;
    bottom:10px;
    right:5px;
    width:14px;
    height:7px;
    background:url(../images/more-but.png) 50% 0% no-repeat;
}
.more-but span{
    display:none;
}
/* Registration complete page END
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* My Fundraisers page
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.title-tab {
    background:url(../images/line-bg1.png) 0% 0% repeat-x;
    min-height:40px;
    margin:25px 0 25px 0; 
    float:left;
    width:100%;
}
.title-tab.second {
    background:url(../images/line-bg2.png) 0% 0% no-repeat;
}
.title-tab div{
    background:url(../images/line-title-bg-s.png) 0% 0% no-repeat;
    padding:0 0 0 9px;
    float:left;
    min-height:41px;
}
.title-tab div.act{
    margin:0 -1px 0 0;
    position:relative;
    z-index:111;
}.title-tab div.act.mar-1px{
    margin:0 0 0 -1px;
}
.title-tab div span{
    background:url(../images/line-title-bg-s.png) 100% 0% no-repeat;
    padding:6px 9px 0 0;
    display:block;
    min-height:41px;
}
.title-tab div.act{
    background:url(../images/line-title-bg.png) 0% 0% no-repeat;
    padding:0 0 0 9px;
    float:left;
    min-height:40px;
}
.title-tab div.act span{
    background:url(../images/line-title-bg.png) 100% 0% no-repeat;
    padding:6px 9px 0 0;
    display:block;
}
.title-tab a{
    display:block;
    color:#d3bb99;
    text-decoration:none;
}
.title-tab a:hover{
    color:#444;
}

.donation-history {
    width:520px;
}
.donation-history table tr td{
    line-height:23px;
    font-size:12px;
    color:#747365;
    border-bottom:1px dotted #9c9b8f;
}
.donation-history table tr:first-child td{
    font-weight:bold;
    line-height:16px;
    padding:0 0 10px 0;
    color:#505050;
}
.table-pad {
    padding:6px 0 15px 0;
}
.set-width370px {
    width:370px;
    float:right;
}
.set-width370px .main-master{
    background:none;
}
.set-width370px .master-content{
    padding:0px;
}
.curved-bg-contact-add { 
    background:url(../images/contact-add.png) 0% 0% no-repeat;
    min-height:50px;
}
.curved-bg-contact-add .td-fix-input{
    width:240px;
    padding:8px 0 0 10px;
}
.curved-bg-contact-add .td-fix-input.colspan{
    width:80px;
    padding:8px 0 0 10px;
}
.curved-bg-contact-add .td-fix-input.colspan2{
    width:150px;
    padding:8px 0 0 10px;
}
.curved-bg-contact-add .td-fix-lable label{
    line-height:50px;
    display:block;
    cursor:pointer;
}
.go-to-fundr {
    width:238px;
    height:29px;
    font-family:daxline-CBL;
    margin:10px 0 10px 0;
    text-transform:uppercase;
    font-size:16px;
    display:block;
    background:url(../images/go-to-fundr-but.png) 0% 0% no-repeat;
    border:0px solid #fff;
    text-align:left;
    cursor:pointer;
    color:#444;
    text-decoration:none;
    line-height:30px;
    padding-left:5px;
}
.go-to-fundr:hover {
    background-position:0% 100%;
}
.curved-bg-contact-add.textarea {
    background:url(../images/contact-add-big.png) 0% 0% no-repeat;
    min-height:120px;
}
.curved-bg-contact-add.textarea .td-fix-input {
    width:240px;
    height:102px;
    margin:0 0 0 10px;
    padding:8px 0 0 0px;
    background:url(../images/textarea-bg1.png) 0% 8px no-repeat;
}
.curved-bg-contact-add.textarea textarea {
    width:235px;
    height:102px;
    padding:0 0 0 5px;
    margin:0px;
    border:0px solid #fff;
    resize:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#444444;
    overflow:auto;
    background:none;
}
/* My Fundraisers page END
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.session_err
{
    color: #FF0000;
    font-family: daxline-CM;
    padding: 10px 0 0 25px;
    text-align: left;
}
.session_err_step2
{
    color: #FF0000;
    font-family: daxline-CM;
    padding: 0 0 10px 0;
    text-align: left;
}
.msg_submit
{
    color: #009900;
    font-family: daxline-CM;
    padding: 10px 0 0 25px;
    text-align: left;
}
.msg
{
    color: #FF0000;
    font-family: daxline-CM;
    padding: 10px 0 0 25px;
    text-align: left;
}
.user-error
{
    color:#FF0000;
    padding-bottom:20px;
    font-family: daxline-CM;
}
/* Error msg END
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.mk-donation{
    padding:0px 0 0px 10px;
    margin:0px;
    border:0px solid #fff;
    background:url(../images/Make-Donation-Button.png) 0% 0% no-repeat;
    width:209px;
    color:#444444;
    height:50px;
    text-transform:uppercase;
    font-family:daxline-CBL;
    text-align:left;
    font-size:25px;
    cursor:pointer;
    display: block;
}
/* Unique page donation submit button
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#ui-datepicker-div
{
    z-index:500!important;
}
/* Calender
- - - - - - - - - - - - - - - - - - - - - - - - - - - - */
form[name="login_form"] {
    padding:15px 15px 5px 15px;
    color: #747365;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    height:255px;
}
form[name="login_form"] .master-content {
    padding:0px;
}
form[name="login_form"] .main-master {
    padding:0px;
}
form[name="login_form"] .title-h4 {
    padding:0px;
}
form[name="login_form"] .user-error {
    padding:8px 0;
    font-family:Arial, Helvetica, sans-serif;
}
form[name="login_form"] .row-fix.forgot {
    padding:5px 0 0 0;
}
form[name="login_form"] .curved-bg-contact {
    padding:0px 0 0 0;
    clear:both;
}
.tabberlive {
    float:left;
    width:100%;
}
.tabberlive .tabbernav{
    margin:-15px 0 15px 0;
    float:left;
}
.tabberlive ul{
    padding:0px;
    margin:0px;
    list-style:none;
}
.tabberlive ul li{
    padding:0px;
    margin:0px;
    float:left;
    color: #747365;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight:bold;
}
.tabberlive ul li a{
    color:#747365;
    text-decoration:none;
    padding:0 0;
}
.tabberlive ul li.tabberactive a{
    color:#000;
}
.tabberlive .tabbertab{
    float:left;
    width:100%;
}
.submit-but-big {
    padding:0px 0 0px 10px;
    margin:0px;
    border:0px solid #fff;
    background:url(../images/submit-but-big.png) 0% 0% no-repeat;
    width:260px;
    color:#444444;
    height:50px;
    text-transform:uppercase;
    font-family:daxline-CBL;
    text-align:left;
    font-size:25px;
    cursor:pointer;
}
.submit-but-big:hover {
    background-position:0% 100%;
}
#fancybox-content {
    
}
.img_boxs {
    padding:25px 59px 25px;
    margin:0 0 0 -15px;
    
}
.img_boxs a{
    float:left;
    opacity:0.41;
    filter: alpha(opacity=41);
    margin:0 0 11px 13px;
    width:89px;
    height:89px;
}
.img_boxs a:hover{
    opacity:1;
    filter: alpha(opacity=100);
}
.img_boxs img{
    max-width:100%;
}
.title-h2.with_icon {
    background: url("../images/recent_icon.png") no-repeat scroll 0 7px transparent;
    padding-left: 22px;
}
.set-width620px-fix.set-width620px-fix-colom
{
    float: left;
    width: 620px;
}
.title-h6.title-h6-reason-font
{
    font-size: 15px;
    line-height: 26px;
    max-width: 480px;
}
.donation-left{
    float:left;
    width:56%;
}
.donation-right{
    float:right;
    width:40%;
}

.partner-box{
    min-height:90px;
    margin-top:2px;
    margin-bottom:0px;
    padding: 6px 4px 6px 4px;
    background-color:#F3F2EF;
    border-bottom-style:solid; 
    border-width:1px; 
    border-color:#d4d4d4;
}

.partner-box span {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #444;
    font-family:daxline-CB;
}

.partner-box p span {
    display: inline;
}

.partner-box p {
    font-size: 16px;
}

.tab-wrapper {
    background-color: #f0eee3;
    padding: 8px;
    margin: 8px;
    overflow: hidden;
}


.discount-label {
    width: auto;
    width: 84px;
    text-align: center;
    padding: 3px 4px;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
    color: #333 !important;
    text-shadow: none !important;
    font-weight: normal !important;
    font-variant: small-caps;
    background: #ffe960; /* Old browsers */
    background: -moz-linear-gradient(top, #ffe960 0%, #ffe240 50%, #ffdc42 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe960), color-stop(50%,#ffe240), color-stop(100%,#ffdc42)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffe960 0%,#ffe240 50%,#ffdc42 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffe960 0%,#ffe240 50%,#ffdc42 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffe960 0%,#ffe240 50%,#ffdc42 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffe960 0%,#ffe240 50%,#ffdc42 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe960', endColorstr='#ffdc42',GradientType=0 ); /* IE6-9 */
}

.clickable div{
    cursor: pointer;
}

.select-partner-box{
    float: left;
    margin: 0 2% 3% 0;
    padding: 6px 4px 6px 4px;
    min-height: 0;
    width: 30%;
    border: none;
    background-color: transparent;
    height: 130px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
        max-width: 255px;


}

.select-partner-box:hover {
    background-color: #f0e7da;
}

.selected-partner, .selected-partner:hover {
    background-color: #dccab0;
}

.thumbnail-holder {
    float: right;
    width: 125px;
}

.partner-placeholder {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px dashed;
    margin: 5px;
    float:left;
}

.mini-thumbnail {
    display: none;
}

.partner-placeholder img {
    vertical-align: baseline;
}


.choose-up-to-blank-rewards {
    font-family:daxline-CB;
    color: #444444;
    font-size: 32px;
    font-weight: bold;
    padding:10px 0;
    display:inline-block;
}

.extra-bottom-margin {
    margin-bottom: 25px;
}

.nice-paragraph {
    color: #434343; /* text color */
    font-family:daxline-CL;
    font-size: 14px;
    margin-top:5px;
}

.move-paragraph-up {
    margin-top: -25px;
}

.red {
    color: #e00000;
}


.user-img-display{
    padding-bottom:5px;
    width:100%;
}
body.pages1 {
    background: url("../images/main-bg-inner.png") repeat-x scroll left -30px #F8F8F4;
}
.main-part1 {
    margin: 0;
    padding: 58px 0 0;
    width: 100%;
}

.form-box {
    background-color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #efede3;
}

.form-box .control-group {
    min-height: 50px;
    background-color: #efede3;
    color: #4A4A44;
    font-size: 14px;
    margin:15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.form-box .controls {
    padding:8px 0 0 5px;
    display:block;
}
.form-box input[type=text], .form-box input[type=password]{
    padding:0 0 0 0;
    margin:0px;
    width:100%;
    height:35px;
    line-height:35px;
    border:0px solid #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#444444;
    line-height:35px;
    vertical-align:top;
    border: #919790 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    max-width: 250px;
    line-height: 20px;
}
.form-box input[type=text].error{
    color:#f00;
}

.form-box label {
    line-height: 50px;
    color: #4A4A44;
    font-size: 14px;
}






/*!
* Datepicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.datepicker {
top: 0;
left: 0;
padding: 4px;
margin-top: 1px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
/*.dow {
border-top: 1px solid #ddd !important;
}*/
}
.datepicker:before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-bottom-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: -7px;
left: 6px;
}
.datepicker:after {
content: '';
display: inline-block;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #ffffff;
position: absolute;
top: -6px;
left: 7px;
}
.datepicker > div {
display: none;
}
.datepicker table {
width: 100%;
margin: 0;
}
.datepicker td, .datepicker th {
text-align: center;
width: 20px;
height: 20px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.datepicker td.day:hover {
background: #eeeeee;
cursor: pointer;
}
.datepicker td.old, .datepicker td.new {
color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
background-color: #006dcc;
background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
background-image: -o-linear-gradient(top, #0088cc, #0044cc);
background-image: linear-gradient(top, #0088cc, #0044cc);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
background-color: #0044cc;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
background-color: #003399 \9;
}
.datepicker td span {
display: block;
width: 47px;
height: 54px;
line-height: 54px;
float: left;
margin: 2px;
cursor: pointer;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.datepicker td span:hover {
background: #eeeeee;
}
.datepicker td span.active {
background-color: #006dcc;
background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
background-image: -o-linear-gradient(top, #0088cc, #0044cc);
background-image: linear-gradient(top, #0088cc, #0044cc);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
border-color: #0044cc #0044cc #002a80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
background-color: #0044cc;
}
.datepicker td span.active:active, .datepicker td span.active.active {
background-color: #003399 \9;
}
.datepicker td span.old {
color: #999999;
}
.datepicker th.switch {
width: 145px;
}
.datepicker thead tr:first-child th {
cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
display: block;
cursor: pointer;
width: 16px;
height: 16px;
}

.popover {
    margin-left: 36px !important;
    width: auto !important;
    max-width: 400px;
}

.popover-inner {
    min-width: 400px;
}

.popover-title {
    font-family:daxline-CL;
    font-size:16px;
    color:#444;
    font-weight:bold;
}

.popover-content {
    font-family:daxline-CL;
    font-size:14px;
    color:#000;
}

.modal-body textarea {
    width: 90%;
}

.social-icons a {
    font-size: 2.5em;
    line-height: 1.6em;
    color: #606060;
    padding: 10px 10px 0 0;
    width: 35px;
    display: inline-block
}

.social-icons a:hover {
    text-decoration: none;
    color: #404040;
}

.fundraiser-description {
    margin: 30px 0;
}

.addthis_toolbox {
    padding-top: 1.2em;
}

.funds-held-by {
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 18px;
}

.btn-file
{
    width: auto;
    height: 1.2em;
    line-height: 1.2em;
    float: right;
}

.file-input-btn {
    position: absolute !important;
}

.fileupload .thumbnail {
    float: left;
}




/* FORMS */

.crowdvance-form {
    background-color: white;
    border: 1px solid #E4D4BE;
}

.crowdvance-form .control-group {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #E4D4BE;
    background-color: #F0EEE3;
    padding: 8px;
    margin: 8px;
}

.crowdvance-form .control-group-selected {
    border: 3px solid #39910e;
    padding: 6px;
}

.crowdvance-form label {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}


.crowdvance-form input, .crowdvance-form .add-on{
    font-size: 14pt;
    height: 1.2em;
    border: 1px solid #FFF4E5;
    line-height: 1.2em;
    position: static;
    width: 95%;
    max-height: 100px;
}

.crowdvance-form input[type=checkbox] {
    vertical-align: top;
    margin-right: 15px;
    width: auto;
}

.crowdvance-form .add-on {
    margin-right: -5px;
    margin-top: 1px;
    font-family:daxline-CL;
    background-color: #e4d4be;
    max-width:20px;
}

.icon-check {
    color: #39910e;
}

.largeModal {
    width: 720px;
    margin-left: -360px;
    overflow:hidden;
}


.extraLargeModal {
    width: 90%;
    max-height: 80%;
    margin-left: -45%;
    margin-top: -40%;
}

.large-img-scroll img {
    max-height:100%;
    text-align: center;
    padding: 10px;
}

.largeModal .modal-footer{
    padding: 0 10px;
}

.chalkboard-graphic {
    background: url("../images/chalkboard.png");
    min-height:183px;
    min-width: 300px;
}

.chalkboard-main-text {
    color: #fde03f; /* text color */
    font-family: "daxline-CM";
    padding: 20px 20px 0;
    margin-top: 20px;

}

.chalkboard-main-text li {
    margin-left: 35px;
    font-size: 20px;
    line-height: 22px;
}

.chalkboard-sub-text {
    padding-left: 55px;

}

.chalkboard-sub-text a {
    color: #fff; /* text color */
    font-family: "daxline-CM";
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    line-height: 12px;
    letter-spacing:-1px
}


.extra-header-room {
    padding-top: 40px;
}

.login-button {
    line-height:35px;
    height:36px;
}

.how-does-this-work-modal .modal-header {
    padding: 0 10px;
    border: none;
}

.how-does-this-work-modal .modal-body {
    max-height: 450px;
}

.infographic-title {
    color: #6d6d69; /* text color */
    font-family: "daxline-CL";
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.how-does-this-work .detail-text {
    color: #6d6d69; /* text color */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 20px;
}

.how-does-this-work .bottom-detail {
    padding-left: 20px;
}

.how-does-this-work span {
    color: #196f00; /* text color */
}

.infographic-title .entypo {
    font-size: 100px;
    line-height: 56px;
    margin-right: 10px;
}

.what-next .infographic-title {
    font-family: "daxline-CB";
    color: #444;
    margin-top: 0 !important;
}
.what-next .row-fluid {
    margin-bottom: 10px;
}

.what-next .span10 {
    margin-top: 10px;
}

.what-next .span2 {
    text-align: right;
    padding-right: 10px;
}

.fundraiser-share
{
    font-size: 16px;
    line-height: 23px;
}

.share-your-fundraiser {
    color: #fe0000; /* text color */
    font-family: 'daxline-CL'; 
    font-size: 16px;
    text-align:left;
}

.fundraiser-help-box {
    opacity: .6; /* layer alpha */
    text-align: left;
    margin: 10px 0 0 45px;
}

.entypo {
    font-family: 'EntypoRegular';
    font-size: 56px;
    line-height: 27px;
    display: inline-block;
}

.big-text {
    font-family: "Arial";
    font-size: 21px;
    line-height: 56px;
}
.share-text {
    margin-left: 20px;
}

.social-buttons-help {
    padding-left: 40px;
}

.ajax_overlay {}
.ajax_loader {background: url(../images/ajax-loader.gif) no-repeat center center transparent;width:100%;height:100%;}

.circle-icon {
    width: 42px;
    height: 42px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px;
    border-radius: 21px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #efede3; /* layer fill content */
    color: #444444;
    line-height: 42px;
    margin-left: -21px;
    left: 50%;
    position: relative;
}
.progress-indicator-block {
    display: inline-block;
    position: absolute;
    margin-left: -10% ;
    top: 4px;
    width: 20%;
}

.move-progress-indicator-up {
    margin-top: -25px;
}

.top-bar-status-icons {
    float: right;
    position:relative;
    text-align: center;
    margin-top: -5px;
}

.top-bar-status-icons .circle-icon
{
    width: 70px;
    height: 70px;
-moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px; /* border radius */
line-height: 70px;
    margin-left: -35px;
    font-size-adjust: 200%;
    position:absolute;
}

.indicator-text {
    font-family: 'daxline-CB'; 
    color: #434343; /* text color */
    font-size: 14px;
    font-weight: bold;
}
.circle-icon-selected {
    background-color: #444444; /* layer fill content */
    color: #efede3;
}

.daxline-circle {
    font-family: 'daxline-CL'; 
    font-size: 24px;
    line-height: 45px;
}

.top-bar-status-icons .daxline-circle {
    font-family: 'daxline-CL'; 
    font-size: 48px;
    line-height: 75px;
}

.entypo-circle {
    font-family: 'EntypoRegular'; 
    font-size: 50px;
    line-height: 30px;
}

.top-bar-status-icons .entypo-circle {
    font-family: 'EntypoRegular'; 
    font-size: 100px;
    line-height: 48px;
}

.step-1 { left: 20%; }
.step-2 { left: 40%; }
.step-3 { left: 60%; }
.step-4 { left: 80%; }

.progress-indicator-holder {
    text-align: center;
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: 100px;
    margin-bottom: 10px;
}

.progress-indicator-line {
    position: absolute;
    left: 20%;
    width: 60%;
    border: 1px dashed #444;
    top: 24px;
}

.row div {
    -ms-transition: width 0.3s ease, margin 0.3s ease;
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.row .span0 {
    width: 0;
    overflow: hidden;
    margin-left: 0;
}

.fundraiser-sidebar-inner {
    overflow: hidden;
    width: 380px;
    float: left;
    margin-left: 0;
}


.logo-row {
    height: 100px;
    min-width: 130px;
}

.partner-sidebar-img {
    width: 130px;
}

.partner-sidebar-blocks {
    margin-top: 8px;
}

.logo-row img {
    opacity: 0.5;
    -ms-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.logo-row img:hover {
    opacity: 1.0;
}



.ribbon-wrapper-expired {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-expired {
  font-size: 15px;
  font-family: 'daxline-CB'; 
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background: #ff4040; /* Old browsers */
  background: -moz-linear-gradient(top, #ff6060 0%, #ff4040 50%, #ff4242 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4040), color-stop(50%,#ffe240), color-stop(100%,#ff4242)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff4040 0%,#ff4040 50%,#ff4242 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff4040 0%,#ff4040 50%,#ff4242 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff4040 0%,#ff4040 50%,#ff4242 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ff4040 0%,#ff4040 50%,#ff4242 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6060', endColorstr='#ff4242',GradientType=0 ); /* IE6-9 */
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-expired:before, .ribbon-expired:after {
  content: "";
  border-top:   3px solid #890000;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-expired:before {
  left: 0;
}
.ribbon-expired:after {
  right: 0;
}

.row .span0 + [class*="span"]{
    margin-left: 0;
}​




.partners {
  padding: 10px;
}
.partners.cursor .partner {
  cursor: pointer;
}
.partners h1 {
  font-size: 32px;
  font-family: "daxline-CB", Helvetica, Arial, sans-serif;
  color: #444444;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 20px;
}
.partners p {
    margin-left: 20px;
}
.partners .partner {
  float: left;
  margin: 0 16px 10px;
  padding: 6px 4px 6px 4px;
  width: 30%;
  height: 130px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  max-width: 255px;
}
.partners .partner:hover {
  background-color: #eadfd0;
}
.partners .partner.selected,
.partners .partner.selected:hover {
  background-color: #dbc6ad;
}
.partners ul {
    margin-left: 20px;
    margin-right: 20px;
}
.partners .partner .thumb {
  width: 40%;
  float: left;
}
.partners .partner .thumb .discount-label {
  display: block;
  width: 92px;
  text-align: center;
  color: #444444;
  font-variant: small-caps;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  background-color: #ffe140;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe960), color-stop(50%, #ffe240), to(#ffdc42));
  background-image: -webkit-linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
  background-image: -moz-linear-gradient(top, #ffe960, #ffe240 50%, #ffdc42);
  background-image: -o-linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
  background-image: linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe960', endColorstr='#ffffdc42', GradientType=0);
  padding: 0;
  font-size: 16px;
  color: #333333;
  font-family: "daxline-CB", Helvetica, Arial, sans-serif;
}
.partners .partner .description {
  width: 60%;
  font-family: "daxline-CL", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #747365;
  float: right;
}
.partners .partner .description h4 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #444444;
  font-family: "daxline-CB", Helvetica, Arial, sans-serif;
}
.partners .partner .description p {
  font-size: 12px;
  margin: 2px 0;
}
.partners .partner .mini-thumbnail {
  display: none;
  visibility: hidden;
}
.partner-popup {
  width: 90%;
  margin-left: -45%;
  margin-top: -40%;
  height: 80%;
  overflow: hidden;
  top: 10%;
  outline: 1px solid #ccc6a1;
  border: 8px solid #ffffff;
  background-color: #f0eee3;
  outline: none;
}
.partner-popup .modal-footer {
  padding: 0 10px;
}
.partner-placeholder {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px dashed;
  margin: 5px;
  float: left;
}
.partner-placeholder img {
  vertical-align: baseline;
}

.header .login-form {
  background-color: #ffffff;
  padding: 8px;
  *zoom: 1;
  position: relative;
  position: absolute;
  width: 200px;
}
.header .login-form:before,
.header .login-form:after {
  display: table;
  content: "";
  line-height: 0;
}
.header .login-form:after {
  clear: both;
}
.header .login-form.singular {
  outline: 1px solid #ccc6a1;
  border: 8px solid #ffffff;
  background-color: #f0eee3;
}
.header .login-form.singular input,
.header .login-form.singular textarea,
.header .login-form.singular select,
.header .login-form.singular .help-inline,
.header .login-form.singular .uneditable-input,
.header .login-form.singular .input-prepend,
.header .login-form.singular .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 8px !important;
  vertical-align: middle;
}
.header .login-form.singular .hide {
  display: none;
}
.header .login-form.singular .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
.header .login-form.singular .control-group:before,
.header .login-form.singular .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.header .login-form.singular .control-group:after {
  clear: both;
}
.header .login-form.singular .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}
.header .login-form.singular .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}
.header .login-form.singular .controls:first-child {
  *padding-left: 180px;
}
.header .login-form.singular .help-block {
  margin-bottom: 0;
}
.header .login-form.singular input + .help-block,
.header .login-form.singular select + .help-block,
.header .login-form.singular textarea + .help-block {
  margin-top: 10px;
}
.header .login-form.singular .form-actions {
  padding-left: 180px;
}
.header .login-form.singular .control-group {
  padding: 8px;
  margin-bottom: 10px;
  color: #666666;
}
.header .login-form.singular .control-group .add-on {
  margin: 0;
}
.header .login-form.divided {
  border: 1px solid #dedac2;
  background-color: #ffffff;
}
.header .login-form.divided .control-group {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f0eee3;
  border: 1px solid #dedac2;
}
.header .login-form .control-group {
  padding: 8px;
  margin-bottom: 10px;
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header .login-form .control-group .checkbox {
  margin: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  padding: 0;
}
.header .login-form .control-group .checkbox input {
  padding: 5px;
  margin: 5px 8px;
}
.header .login-form .control-group .checkbox .input-prepend {
  overflow: hidden;
  width: 100%;
}
.header .login-form .control-group .small {
  max-width: 50%;
}
.header .login-form .submit {
  color: #444444;
  font-family: "daxline-CBL", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  min-height: 25px;
  padding: 3px 10px;
  margin: 5px;
  background-color: #ffe13f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 4px #99801d;
  -moz-box-shadow: inset 0 1px 4px #99801d;
  box-shadow: inset 0 1px 4px #99801d;
  background-color: #ffe140;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe960), color-stop(50%, #ffe240), to(#ffdc42));
  background-image: -webkit-linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
  background-image: -moz-linear-gradient(top, #ffe960, #ffe240 50%, #ffdc42);
  background-image: -o-linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
  background-image: linear-gradient(#ffe960, #ffe240 50%, #ffdc42);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe960', endColorstr='#ffffdc42', GradientType=0);
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  float: right;
}
.header .login-form .submit:after {
  content: url('../images/right-arrow.png');
  float: right;
  padding: 0 10px;
}
.header .login-form .submit.without-icon:after {
  content: "";
  padding: 0;
}
.header .login-form .submit:hover {
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: inset 0 1px 4px #6d633d;
  -moz-box-shadow: inset 0 1px 4px #6d633d;
  box-shadow: inset 0 1px 4px #6d633d;
  text-shadow: 0 1px 0 rgba(200, 200, 200, 0.57);
  background-color: #d1ba99;
  background-image: -moz-linear-gradient(top, #d9c5a8, #c5a983);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9c5a8), to(#c5a983));
  background-image: -webkit-linear-gradient(top, #d9c5a8, #c5a983);
  background-image: -o-linear-gradient(top, #d9c5a8, #c5a983);
  background-image: linear-gradient(to bottom, #d9c5a8, #c5a983);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9c5a8', endColorstr='#ffc5a983', GradientType=0);
}
.header .login-form .submit.small {
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  min-height: 20px;
}
.header .login-form .submit.larger-button {
  font-size: 26px;
  line-height: 48px;
  height: 48px;
}
.header .login-form .submit.smaller-button {
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  margin: 5px 0;
}
.header .login-form .submit.full-width {
  width: 100%;
}
.header .login-form input:not([type="checkbox"]),
.header .login-form textarea {
  font-size: 14pt;
  height: 1.2em;
  line-height: 1.2em;
  width: 95%;
  max-height: 100px;
  margin: 0;
}
.header .login-form .add-on {
  margin: 0px -1px -1px 5px;
  font-family: "daxline-CL", Helvetica, Arial, sans-serif;
  background-color: #e4d4be;
  max-width: 20px;
  font-size: 14pt;
  height: 1.2em;
  border: 1px solid #dedac2;
  line-height: 1.2em;
  position: static;
}
.header .login-form .hint {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}